<template>
  <div id="home">
    <h1>My Todo List</h1>
    <p>{{msg}}</p>
    <button @click="googleLogin">Googleアカウントでログイン</button>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      msg: 'シンプルなTODOアプリです'
    }
  },
  methods: {
    googleLogin: function(){ //arrow functionにするとthisがdataでなくなる
      firebase
        .auth()
          .signInWithRedirect( new firebase.auth.GoogleAuthProvider() );
    }
  }
}
</script>

