<template>
  <div id="todo">
    <header class="header">
      <h1>My Todo List</h1>
      <div class="profile">
        <img :src="user.photoURL" alt="">
        {{ user.displayName }}
        <button @click="logout">ログアウト</button>
      </div>
    </header>
    <div class="content">
      <p>
      <input type="text"
        placeholder="TODOを入力しましょう！"
        v-model="newItemTitle"
        v-on:keyup.enter="addTodo(newItemTitle)"></p>
      <ul>
        <li
          v-for="item in items"
          :key="item.id"
        >
          <label v-bind:class="{ done: item.isChecked }">
            <input type="checkbox" v-model="item.isChecked"> {{ item.title }}
          </label>
        </li>
      </ul>
      <button v-on:click="deleteTodo()">チェック済みの項目を削除する</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'todo',
  props: ["user"], // firebaseの機能でOAuthログインしたユーザーデータを親コンポーネントから渡されている
  data () {
    return {
      items: [],
      newItemTitle: '',
    };
  },
  methods: {
    logout: function(){
      firebase.auth().signOut();
    },
    updateCheck: function(childChecked, childIndex){  //updateCheckメソッドをまるっと追加
      for (let i = 0; i < this.items.length; i++) {
        if (this.items[i].id === childIndex) {
          this.items[i].isChecked = childChecked;
          break;
        }
      }
    },
    addTodo: function(newTitle){
      let date = Date.now();
      this.items.push({
        title: newTitle,
        isChecked: false,
        id: date  //idを追加
      });
      this.newItemTitle = '';
      this.saveTodo();
    },
    deleteTodo: function(){
      this.items = this.items.filter(function (item) {
        return item.isChecked === false;
      });
      this.saveTodo();
    },
    saveTodo: function(){
      // firebaseからデータを書き込み
      firebase
        .database()
        .ref('items/' + this.user.uid)
        .set(this.items);
    },
    loadTodo: function(){
      // firebaseにデータを読み出し
      firebase
        .database()
        .ref('items/' + this.user.uid)  //firebaseからログインユーザーのデータのありか
        .once('value')                  //once: 一度だけ value: イベントの名前　データを一度だけ持ってくる
        .then(result => {               //データを持ってこれたらresultで参照する
          if( result.val() ) {          //result.val()で中身があれば（初期表示ではnullとなる）
            this.items = result.val();  //配列にデータを入れる
          }
        });

      // this.items = JSON.parse( localStorage.getItem('items') );
      if( !this.items ){
        this.items = [];
      }
    },
  },
  created: function () {  //インスタンスの初期化完了。props, computedにアクセス可能。DOMにはアクセス不可。
    this.loadTodo();
  },
}
</script>
<style lang="scss" scoped>
.header {
  h1 {
    font-size: 20px;
    line-height: 1;
  }
}
.profile {
  display: flex;
  align-items: center;
  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
  }
  button {
    margin-left: 10px;
  }
}
.done { text-decoration: line-through; }
</style>

