<template>
  <div id="app">
    <Home v-if="!isLogin"></Home>
    <Todo v-if="isLogin" :user="userData"></Todo>
  </div>
</template>

<script>
import Home from "./components/Home.vue";
import Todo from "./components/Todo.vue";

export default {
  name: 'app',
  data () {
    return {
      isLogin: false,
      userData: null,
    }
  },
  created: function(){ // Vue.jsがコンポーネントを作成したタイミングで実行
    firebase.auth().onAuthStateChanged(user => {
      console.log(user);
      if(user) {
        this.isLogin = true;
        this.userData = user;
      } else {
        this.isLogin = false;
        this.userData = null;
      }
    });
  },
  components: {
    Home: Home,
    Todo: Todo,
  }
}
</script>

